<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/style.css" />
            <title>Tabela Brasileirão</title>
        </f:facet>
    </h:head>
    <!--verifica se o usuário está logado, se ele estiver carrega a página normalmente caso
    contrário encaminha para a página de login-->

    <h:body>
        
        <!--Esse script serve para limpar a sessão assim que o usuário fechar o navegador-->
        <script language="JavaScript">
            window.onbeforeunload = WindowCloseHanlder;
            function WindowCloseHanlder()
            {
                window.alert('My Window is reloading');
            }
        </script>
        <div class="menutop">
            <center>
                <h:link class="menu" outcome="LogadoAdm">Home</h:link>
                <h:link class="menu" outcome="LogadoAdm">Serie A</h:link>
                <h:link class="menu" outcome="serieBadm">Série B</h:link>
                <h:link class="menu" outcome="AtualizarAAdm">Atualizar A</h:link>
             
                <h:link class="menu" >Atualizar Jogos</h:link>
                <h:link class="menu" >Ajuda</h:link>

                <!-- adicionar nome da pessoa logada e opção para sair-->
            </center>

        </div>

        <h1><p1>BRASILEIRÃO</p1></h1>



        <div align="center" class="divtable" >
            <h:form id="form">



                <p:outputLabel value="Nome do time: " />
                <h:inputText  class="form-control" id="nomeTime" required = "autofocus" valueChangeListener="#{serie.nomeTime}" >
                   
                </h:inputText>

                
                <h:commandButton  class="btn-form"  value="Salvar" type="submit" actionListener="#{CrudTimeA.salvarTime(serie)}" >
                    <f:ajax render="@form" resetValues="true"/>
                </h:commandButton>

               
            </h:form>
            
          
            <caption> Classificação Atualizada Série A</caption>
            <center>
                <h:dataTable style="width:100%" value="#{listaSerieAadm.lista}" var="item">
                    <h:column >

                        <center><f:facet name="header"><center>N</center></f:facet></center>
                        <h:outputText  value="#{item.colocacao}"/>
                    </h:column>

                    <h:column >
                        <center><f:facet name="header"><center>Clube</center></f:facet></center>
                        <h:outputText  value="#{item.nomeTime}"/>
                    </h:column>

                    <h:column headerClass="col1">
                        <h:outputText value="-"/>
                    </h:column>

                    <h:column>
                        <center><f:facet name="header"><center>P</center></f:facet></center>   
                        <h:outputText value="#{item.pontos}"/>
                    </h:column>

                    <h:column>
                        <center><f:facet name="header"><center>J</center></f:facet></center>   
                        <h:outputText value="#{item.jogos}"/>
                    </h:column>

                    <h:column>
                        <center><f:facet name="header"><center>V</center></f:facet></center>   
                        <h:outputText value="#{item.vitorias}"/>
                    </h:column>

                    <h:column>
                        <center><f:facet name="header"><center>E</center></f:facet></center>   
                        <h:outputText value="#{item.empates}"/>
                    </h:column>

                    <h:column>
                        <center><f:facet name="header"><center>D</center></f:facet></center>   
                        <h:outputText value="#{item.derrotas}"/>
                    </h:column>

                    <h:column>
                        <center><f:facet name="header"><center>GP</center></f:facet></center>   
                        <h:outputText value="#{item.golsPro}"/>
                    </h:column>

                    <h:column>
                        <center><f:facet name="header"><center>GC</center></f:facet></center>   
                        <h:outputText value="#{item.golsContra}"/>
                    </h:column>

                    <h:column>
                        <center><f:facet name="header"><center>SG</center></f:facet></center>   
                        <h:outputText value="#{item.saldoGols}"/>
                    </h:column>
                    <h:column>
                        <center><f:facet name="header"></f:facet></center>   
                        <h:commandButton value="Excluir" actionListener="#{CrudTimeA.excluirTime(item.nomeTime)}" />
                    </h:column>

                </h:dataTable>
            </center>



            <p colspan="12"> P pontos J jogadas V titórias E empates D derrotas GP gols pró GC gols contra SG saldo de gols (%) aproveitamento</p>










        </div>





    </h:body>
</html>

