<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/style.css" />
                <title>Tabela Brasileirão</title>
            </f:facet>
        <style>
            table tbody {
            color: #000000;
            background-color: #ccffcc;
            }
        </style>
    </h:head>
    <h:body>
       
            <div class="menutop">
                <center>
                <h:link class="menu" outcome="index">Home</h:link>
                <h:link class="menu" outcome="serieB">Série B</h:link>
                <h:link class="menu" >Ajuda</h:link>
                <h:link class="menu" outcome="Login">Login</h:link>
                </center>
            
            </div>
            
        <h1><p1>BRASILEIRÃO</p1></h1>
       
        
       
            <div align="center" class="divtable" >
            <caption> Classificação Atualizada Série A</caption>
            <center>
                <h:dataTable style="width:100%" value="#{listaSerieAadm.lista}" var="item">
                    <h:column >
                    
                    <center><f:facet name="header"><center>N</center></f:facet></center>
                    <h:outputText  value="#{item.colocacao}"/>
                </h:column>
                
                    <h:column >
                     <center><f:facet name="header"><center>Clube</center></f:facet></center>
                     <h:outputText  value="#{item.nomeTime}"/>
                </h:column>
                
                    <h:column headerClass="col1">
                     <h:outputText value="-"/>
                </h:column>
                
                <h:column>
                     <center><f:facet name="header"><center>P</center></f:facet></center>   
                     <h:outputText value="#{item.pontos}"/>
                </h:column>
                
                <h:column>
                     <center><f:facet name="header"><center>J</center></f:facet></center>   
                     <h:outputText value="#{item.jogos}"/>
                </h:column>
                
                <h:column>
                     <center><f:facet name="header"><center>V</center></f:facet></center>   
                     <h:outputText value="#{item.vitorias}"/>
                </h:column>
                
                <h:column>
                     <center><f:facet name="header"><center>E</center></f:facet></center>   
                     <h:outputText value="#{item.empates}"/>
                </h:column>
                
                <h:column>
                     <center><f:facet name="header"><center>D</center></f:facet></center>   
                     <h:outputText value="#{item.derrotas}"/>
                </h:column>
                
                <h:column>
                     <center><f:facet name="header"><center>GP</center></f:facet></center>   
                     <h:outputText value="#{item.golsPro}"/>
                </h:column>
                
                <h:column>
                     <center><f:facet name="header"><center>GC</center></f:facet></center>   
                     <h:outputText value="#{item.golsContra}"/>
                </h:column>
                
                <h:column>
                     <center><f:facet name="header"><center>SG</center></f:facet></center>   
                     <h:outputText value="#{item.saldoGols}"/>
                </h:column>
                
                
            </h:dataTable>
            </center>
	

	   
		<p2 colspan="12"> P pontos J jogadas V titórias E empates D derrotas GP gols pró GC gols contra SG saldo de gols (%) aproveitamento</p2>
	  
	
            
             
            
        </div>
            
           <div class="partidas">
               
              
               <p:dataTable  style="width:100%; background-color: white;" value="#{listaJogosTempAdm.listaA}" var="item2">
                   <p:column transient="">
                       
                       <center> <f:facet name="header"><center><h3>Partidas</h3></center></f:facet></center>
                       
                       
                       <h:outputText value="#{item2.time1} #{item2.golstime1} X #{item2.golstime2} #{item2.time2} "/> <br></br>
                       <h:outputText value="Data: #{listaJogosTempAdm.ConvData(item2.data)}   Hora:#{item2.hora}"/>
                       
                   </p:column> 
                   
                  
                   
               </p:dataTable>
                
                
                
            </div>
            
            
            
    </h:body>
</html>

