<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/style.css" />
            <title>Tabela Brasileirão</title>
        </f:facet>
    </h:head>
    <h:body>


        <div class="menutop">
            <center>
                <h:link class="menu" outcome="index">Home</h:link>
                <h:link class="menu" outcome="serieB">Série B</h:link>
                <h:link class="menu" >Ajuda</h:link>
                <h:link class="menu" outcome="Login">Login</h:link>
            </center>

        </div>

        <h1><p1>BRASILEIRÃO</p1></h1>


        <center>
            <div align="center" class="divlogin" >
                <h3>Login</h3>
                <h:form >
                    <p:growl id="growl" life="2000" />

                    <h:panelGrid columns="2" cellpadding="5">
                        <h:outputText value="Usuário:"/>
                        <p:inputText id="name" value="#{validaUsuario.usuario}" />

                        <h:outputText value="Senha: " />
                        <p:password id="nonFeedback" value="#{validaUsuario.senha}" />


                    </h:panelGrid>
                    <p:commandButton style="margin-bottom: 4px" value="Logar" actionListener="#{validaUsuario.logar()}" update="growl" />
                </h:form>

            </div>
        </center>



    </h:body>
</html>

