body{
    background-image: url(../Imagens/background.jpg);
    margin: 0%;
}

h1{
    text-align: center; 
}
p1{
    color: green;
    background-color: white;
    
}

.divtable{
    display: table;
    float: left;
    margin-left: 32%;
    background-color: white;
    width: 35%;
    margin-bottom: auto;
 
}
.divlogin{
    display: table;
    float: left;
    margin-left: 37.5%;
    background-color: white;
    width: 25%;
    
}
.menutop{
    background-color:  #ccff99;
    padding-bottom: 9px;
    padding-top: 9px;
}
.menu{
    text-decoration: none;
    padding: 10px;
    color: darkblue;
}

.menu:hover{
    background-color: darkgreen;
    color: white;
}

.partidas{
    float: right;
    position: relative;
    background-color: white;
    width: 20%;
 
}
h2{
    margin-top: 5px;
}


p2 {
	text-align:center
}

caption {
	text-align: center
}

table thead {
	color: #000000;
	background-color: #ccff99;
}

table tfoot {
	font-size: 12px;
}
.col1{
    width: 1px;
}

